/*  your css code here. If applicable */
.block{
	height:100px;
	width:100px;
	border-radius:50%;
	
}
.red{
	background-color:red;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}
.container{
	display:flex;
	border:2px solid black;
	border-radius:15px;
	justify-content: space-between;
	background-color:#D3D3D3;
	padding:50px;
}